In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

In [4]:
df = pd.read_csv('./Iris.csv')

X = df.iloc[:, 1:4].values
y = df.iloc[:, 4].values

df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [5]:
pca = PCA(n_components=2)

X = pca.fit_transform(X)

In [6]:
X

array([[-2.49120628,  0.32842889],
       [-2.52490896, -0.17066072],
       [-2.71231754, -0.1299729 ],
       [-2.55917263, -0.30820093],
       [-2.53908694,  0.33875833],
       [-2.13468115,  0.75710223],
       [-2.67741646, -0.06542263],
       [-2.42970863,  0.17022981],
       [-2.71111913, -0.56451225],
       [-2.44212721, -0.11643989],
       [-2.30024464,  0.64866055],
       [-2.41609165,  0.02236017],
       [-2.5639241 , -0.23458107],
       [-3.03394159, -0.49409597],
       [-2.44572244,  1.18717814],
       [-2.24525786,  1.36017008],
       [-2.50127021,  0.83721802],
       [-2.49120628,  0.32842889],
       [-2.00877021,  0.87461349],
       [-2.42615558,  0.53114929],
       [-2.09035355,  0.38585331],
       [-2.41729006,  0.45689951],
       [-3.06173656,  0.16319272],
       [-2.19853344,  0.11984248],
       [-2.14114985, -0.03772667],
       [-2.30259929, -0.14679827],
       [-2.33806137,  0.15020086],
       [-2.36054388,  0.37232029],
       [-2.44332562,  0.31809946],
       [-2.43737574, -0.19005975],
       [-2.38949509, -0.20038918],
       [-2.27364808,  0.4259112 ],
       [-2.413737  ,  0.81781899],
       [-2.39720437,  1.10385877],
       [-2.44212721, -0.11643989],
       [-2.68691939,  0.08181709],
       [-2.42679299,  0.60413923],
       [-2.44212721, -0.11643989],
       [-2.81163192, -0.47023352],
       [-2.3906935 ,  0.23415016],
       [-2.62186869,  0.28453749],
       [-2.71055814, -0.92606165],
       [-2.82936296, -0.32173395],
       [-2.34692689,  0.22445065],
       [-2.05956651,  0.4510335 ],
       [-2.5639241 , -0.23458107],
       [-2.33450831,  0.51112035],
       [-2.65968542, -0.2139222 ],
       [-2.33925978,  0.58474021],
       [-2.51249038,  0.11600898],
       [ 1.30103772,  0.65921088],
       [ 0.88365235,  0.31574669],
       [ 1.45418263,  0.48098286],
       [ 0.15406945, -0.82763976],
       [ 1.04977684,  0.06263896],
       [ 0.64600846, -0.42869488],
       [ 1.01906623,  0.28601823],
       [-0.73041777, -0.99670943],
       [ 1.07992646,  0.20080909],
       [-0.09008531, -0.70237272],
       [-0.47264602, -1.26984611],
       [ 0.4313659 , -0.09226777],
       [ 0.35801066, -0.5822878 ],
       [ 0.97649803, -0.1388216 ],
       [-0.2266976 , -0.23810492],
       [ 0.91791602,  0.4532869 ],
       [ 0.58926228, -0.34411566],
       [ 0.32730005, -0.35890853],
       [ 0.89427727, -0.55459184],
       [ 0.08370628, -0.59519089],
       [ 0.96351846, -0.06394189],
       [ 0.34383268, -0.07286875],
       [ 1.27328492, -0.34803793],
       [ 0.98536355, -0.21307138],
       [ 0.72695438,  0.13305523],
       [ 0.8877664 ,  0.31511677],
       [ 1.35011679,  0.2143421 ],
       [ 1.47666514,  0.25886343],
       [ 0.75418836, -0.16268405],
       [-0.25273317, -0.37690497],
       [-0.0380906 , -0.71333208],
       [-0.12973787, -0.69330313],
       [ 0.14400552, -0.31885063],
       [ 1.321803  , -0.43135731],
       [ 0.511232  , -0.47195636],
       [ 0.70986076,  0.20856487],
       [ 1.19285782,  0.39320006],
       [ 0.83277963, -0.39639276],
       [ 0.22267321, -0.26399987],
       [ 0.13633841, -0.67914019],
       [ 0.49406196, -0.6850062 ],
       [ 0.87598524, -0.04454287],
       [ 0.2445183 , -0.41312936],
       [-0.68253711, -1.00703886],
       [ 0.34091704, -0.50677817],
       [ 0.35333562, -0.22010847],
       [ 0.36220114, -0.29435825],
       [ 0.6489241 ,  0.00521454],
       [-0.93619481, -0.73453211],
       [ 0.27941939, -0.34857909],
       [ 2.21048069,  0.02564191],
       [ 1.24377272, -0.559198  ],
       [ 2.4575511 ,  0.33428429],
       [ 1.87935371, -0.19124143],
       [ 2.131813  , -0.02920885],
       [ 3.29415766,  0.5136834 ],
       [ 0.36048391, -1.16280702],
       [ 2.91103596,  0.30775942],
       [ 2.25417088, -0.27261707],
       [ 2.62666765,  0.80364545],
       [ 1.47255109,  0.25949335],
       [ 1.66115808, -0.21573381],
       [ 1.97391661,  0.22263904],
       [ 1.13084135, -0.75158897],
       [ 1.2349072 , -0.48494822],
       [ 1.61683048,  0.15551511],
       [ 1.8568712 ,  0.030878  ],
       [ 3.3538959 ,  1.15157307],
       [ 3.64357668,  0.22051777],
       [ 1.27448333, -0.78257728],
       [ 2.17849525,  0.39500106],
       [ 0.97358239, -0.57273102],
       [ 3.4425511 ,  0.40907523],
       [ 1.25555388, -0.19953837],
       [ 2.09159945,  0.34141015],
       [ 2.57048246,  0.52667526],
       [ 1.11602595, -0.16917998],
       [ 1.15092704, -0.10462971],
       [ 1.92723436, -0.20157087],
       [ 2.40491897,  0.41823359],
       [ 2.77562209,  0.33748787],
       [ 3.15698438,  1.33950061],
       [ 1.92723436, -0.20157087],
       [ 1.42998289, -0.16534648],
       [ 1.82791999, -0.54183148],
       [ 2.87493646,  0.67774849],
       [ 1.83502611,  0.18000749],
       [ 1.80899054,  0.04120743],
       [ 1.02026464, -0.14852111],
       [ 1.91241897,  0.38083812],
       [ 2.01768322,  0.21293953],
       [ 1.63747717,  0.44092496],
       [ 1.24377272, -0.559198  ],
       [ 2.32277464,  0.29102282],
       [ 2.09159945,  0.34141015],
       [ 1.65995967,  0.21880553],
       [ 1.36493219, -0.36806688],
       [ 1.5819294 ,  0.09096484],
       [ 1.61271643,  0.15614503],
       [ 1.2561913 , -0.2725283 ]])

In [7]:
main_df = pd.DataFrame(data=X, columns=['principal component 1', 'principal component 2'])

main_df

     principal component 1  principal component 2
0                -2.491206               0.328429
1                -2.524909              -0.170661
2                -2.712318              -0.129973
3                -2.559173              -0.308201
4                -2.539087               0.338758
..                     ...                    ...
145               1.659960               0.218806
146               1.364932              -0.368067
147               1.581929               0.090965
148               1.612716               0.156145
149               1.256191              -0.272528

[150 rows x 2 columns]

In [8]:
pca.components_

array([[ 0.39015139, -0.0886552 ,  0.91647267],
       [ 0.63920348,  0.74249784, -0.20028948]])

In [9]:
pca.explained_variance_

array([3.68651942, 0.24098081])

In [10]:
final_df = pd.concat(
    [
        main_df,
        df[['Species']]
    ],
    axis=1
)

In [11]:
final_df

     principal component 1  principal component 2         Species
0                -2.491206               0.328429     Iris-setosa
1                -2.524909              -0.170661     Iris-setosa
2                -2.712318              -0.129973     Iris-setosa
3                -2.559173              -0.308201     Iris-setosa
4                -2.539087               0.338758     Iris-setosa
..                     ...                    ...             ...
145               1.659960               0.218806  Iris-virginica
146               1.364932              -0.368067  Iris-virginica
147               1.581929               0.090965  Iris-virginica
148               1.612716               0.156145  Iris-virginica
149               1.256191              -0.272528  Iris-virginica

[150 rows x 3 columns]